extends ./layout

block ui
  .container#users
    h1.summary Users
    h6.info
      | Permissions: Give users '*' for full access, 'u' for permission access and 'a' for stream access
    input.u-full-width#user-search-box(type='text', placeholder='Search for users...')
    .row
      .three.columns
        b Display Name
      .three.columns
        b Username
      .two.columns
        b Provider
      .four.columns
        b Permissions
    each val in users
      .row.search-target(data-user-id=val.id)
        .three.columns
          b.searchable= val.displayName
        .three.columns
          span.searchable= val.username
        .two.columns
          | #{val.provider}
        .four.columns
          input.view(type='text', value=val.permissions, disabled=(val.id==user.id))= val.permissions
          button.apply(onClick='applyPermissions(this)') Apply
      
  script.
    function applyPermissions(el) {
      var id = el.parentNode.parentNode.getAttribute('data-user-id');
      var permissions = el.parentNode.querySelector('input.view').value;
      // TODO: XHR to server to update permissions
    }
    (function() {
      var input = document.getElementById('user-search-box');
      input.onkeyup = function () {
        var filter = input.value.toUpperCase();
        var lis = document.getElementsByClassName('search-target');
        for (var i = 0; i < lis.length; i++) {
            var searchable = lis[i].getElementsByClassName('searchable');
            var results = 0;
            for (var x = 0; x < searchable.length; x++) {
              if (searchable[x].innerHTML.toUpperCase().indexOf(filter) == 0)
                results++;
            }
            if (results > 0)
              lis[i].style.display = 'block';
            else
              lis[i].style.display = 'none';
        }
      }
    })();
