extends layout

block content
  .container
    h1.title.summary FAQ
    p Please read before using #{config.SITE_NAME}.
    ul
    li #{config.SITE_NAME} does NOT support older versions of Internet Explorer, Firefox, Chrome, Opera and Safari.
    li Uploading tools for #{config.SITE_NAME} can be found at 
      a(href= config.URL + 'tools') Tools
      | .
    li Maximum upload file size is #{config.MAX_UPLOAD_SIZE/1000000}MB. All uploads are public.
    li Currently all content is allowed under United States law. Malware and child porn is not welcome here.
    li All filetypes but #{config.BANNED_EXTS.join(', ')} files are allowed due to malware.
    li No logs are kept, no logs over uploading nor over downloading.
    li We're non-profit and offer this service for free without ads.
    li For removal of a file or to submit abuse reports (DMCA) see our 
      a(href= config.URL + 'contact') contact page
      | .
